* {
    box-sizing: border-box;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.main  {
    display: flex;
    flex-flow: row;
    padding-top: 150px;
}

.wrapper {
    background-color: #f0f2f5;
    padding: 20px 0 312px;
    margin-bottom:30px;
    margin-top: -70px;
}



.wrapper h1 {
    color: #0866ff;
    text-align: left;
    font-family: inherit;
    line-height: 1.34;
    font-weight: 600;
    font-size: 60px;
    font-family: inherit;
    width: auto;
    margin-left: 40px;
}

.wrapper h2{
    color: black;
    line-height: 30px;
    font-size: 25px;
    font-weight: 400;
    text-align:left;
    margin-bottom: 20px;
    margin-left: -30px;
    padding:10px 70px;
    width: auto;
}



.frist {
    padding-top: 100px;
}
.second {
    margin: 40px;
    align-items: center;
    display: flex;
    flex-direction: column;
}


.f-part {
    display:flex;
    flex-direction: column;
    height: 350px;
    width: 400px;
    border: none;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    margin-left: -70px;
}


.s-part {
    font-family: SFProText-Semibold, Helvetica, Arial, sans-serif;
    margin-top: 20px;
    font-size: 14px;
    margin-left: -70px;
}

.s-part p  a{
    font-family: SFProText-Semibold, Helvetica, Arial, sans-serif;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
}

.s-part p  a:hover {
    text-decoration: underline;
}

.form-control input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 14px 16px ;
    height: 50px;
    width: 350px;
    border-radius:6px ;
    margin:5px 25px;
    border:1px solid  #d9d9d9;
    font-size: 18px;
    color: black;
}

.form-control input:hover {
    border: 1px solid #1877f2;
}

.number{
    margin-top: 10px;   
}

.btn {
    padding: 15px 16px ;
    height: 50px;
    width: 350px;
    border-radius:6px ;
    border:none;
    margin:5px 25px;
    background-color: #1877f2;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 20px;
}

.forgot-password {
    width: 90%;
    text-align: center;
    margin-bottom: 20px;
    margin-left: 20px;
    padding: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #d9d9d9 ;
    text-decoration: none;
    text-decoration: none;
}

.forgot-password a{
    text-decoration: none;
    color: #1877f2;
    font-size: 14px;
}

.forgot-password a:hover{
    text-decoration: underline;
}

.btn2 {
    height: 50px;
    width: 200px;
    border-radius:6px ;
    border:none;
    background-color: #42b72a;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 18px;
    margin-left: 100px;
}

.footer {
    width:auto;
    color: #737373;
    text-decoration: none;
    line-height: 25px;
    font-size: 14px;
    background-color: #ffffff;
    padding: 20px;
}

.plas{
    height: 20px;
    width: 20px;
    font-weight: 600;
    color: #737373;
    margin-top: 5px;
}

.footer a{
    text-decoration: none;
    padding: 5px;
    color: #737373;
}

.footer a:hover{
    text-decoration: underline;
}


.others, .lunguage,.hr,.meta{
    display: flex;
    flex-flow: row wrap;
    width: auto;
    margin-left: 15px;
    font-size: 11px;
    line-height: 20px;
}



@media (max-width:900px) {
    .main {
        display: flex;
        flex-flow: column;
    }
    .wrapper .frist{
        margin-top: -150px;
        margin-left: 200px;
    }

    .wrapper .second {
        margin-left: 125px;
    }
    .wrapper h1{
        text-align: center;
        margin-left: -200px;
    }
    .wrapper h2 {
        text-align: center;
        margin-left: -200px;
    }

}

@media  (min-width: 980px){
    .main{
        margin-left: 20%;
    }
    .wrapper h1,h2 {
        margin-right: 50px;
    }
    .footer {
      margin: 0 10%;
    }
    
}
